body {
    margin: 0;
    background-color: #374151;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #D1D5DB;
    
}

.score-number {
    background-color: black;
    border-radius: 10px;
    color: #BE123C;
    padding: 10px 35px;
    margin: 0px;
    font-family: Chakra Petch ;
    width: 50px;
    height: 50px;
}

.track {
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
}

.count {
    border: 1px solid #9CA3AF ;
    color: #9CA3AF;
    padding: 5px 5px;
    margin: 15px 5px;
    background-color: transparent;
}

#reset {
    text-align: center;
    margin-top: 20px;
}

#resetbutton{
    background-color: transparent;
    border: 2px solid green;
    color: green;

}